{% extends "base.html" %}


{% block content %}

	<div id="innercontent">
		<article class="articlecontent">
			<header>
				<h2> Guide/FAQ : </h2>
			</header>
            <p>



Regardez nos deux <a class="linkColor" href="/CoGM/view/tutoriel/"> tutoriaux vidéos </a> pour savoir comment créer et manager une CoGM.



<h3>Qu'est-ce qu'une CoGM ?</h3>
Une CoGM est une structure visant à organiser un développement collaboratif des Grands Monuments (GM) des membres de la CoGM. <br>
Les membres dépensent des points de forge (pf) sur les GM des autres membres et la CoGM organise cet 'échange' de pf.


<br>
<br>
<h3>Comment fonctionne une CoGM ?</h3>
Les membres désignent un manager de la CoGM, il aura la tâche d'organiser cet 'échange' de pf via ce site.
Le manager saisit sur le site les pf dépensés et reçus par les membres.<br>
Chaque nouvelle saisie est ajoutée aux précédentes et un compte total est calculé automatiquement.
On peut alors utiliser ce compte total pour rendre l'échange de pf équitable entre les membres.


<br>
<br>
<h3>Quelles règles pour le décompte des pf ?</h3>
Vous pouvez inventer vos propres règles.<br>
Quand est-ce que le manager saisit les pf dépensés et reçus ? Combien en décompte-t-il à chaque membre ?
C'est aux membres de le définir ! <br>
Par exemple vous pouvez décider que tous les membres de la CoGM dépensent X pf par jour sur un même GM et que le manager saisit les pf dépensés et reçus quand le GM passe au niveau suivant.
Vous pouvez trouver un exemple de règles <a class="linkColor" href="/CoGM/about/#exempleDeRegles">plus bas</a>.


<br>
<br>
<h3>Comment créer une CoGM ?</h3>
Ouvrez l'onglet "Créer CoGM" et entrez un nom pour votre CoGM ainsi qu'un mot de passe.
Votre CoGM est créée !



<br>
<br>
<h3>Comment manager une CoGM ?</h3>
Après avoir créé une CoGM, ouvrez l'onglet "Connexion" et identifiez vous.<br>
Vous managez maintenant votre CoGM.<br>
Vous pouvez saisir des pf dépensés et reçus... voir le compte total... voir les saisies précédentes... modifier une saisie précédente... créer des graphiques... voir ces graphiques... copier un message (destiné aux membres) récapitulant votre dernière saisie.









<br>
<br>
<h3>Comment saisir des pf dépensés et reçus ?</h3>
Pour saisir des pf reçus et dépensés cliquez sur "Ajouter un GM".
Remplissez alors le formulaire.<br>
Dans la case 'propriétaire du GM' vous devez indiquer le nom du membre à qui les pf ont été donnés.<br>
Dans la case 'nom du GM' vous indiquez le type de GM, par exemple Zeus, Statue de zeus, Sophia, Phare, etc...<br>
Vous indiquez le niveau du GM dans la case 'niveau du GM' et une date (par exemple celle de la saisie) dans la case 'date'.<br>
Dans la case 'pf' du formulaire vous indiquerez quels sont les membres ayant donné des pf et combien de pf ils ont donné.
Faites très attention à respecter le format attendu pour une saisie. Ce format vous est indiqué par défaut.
Vous devez indiquer le nom des membres ayant donné des pf, suivi du nombre de pf donné, les deux étant déparés par ':'.<br>
Par exemple : 'kate : 3', pour dire que kate a dépensé 3 pf.
Le compte total est alors mis à jour.


<br>
<br>
<h3>Comment voir le compte total et les saisies précédentes ?</h3>
Vous pouvez voir le compte total et les saisies précédentes à partir de la page d'accueil. Pour les saisies précédentes, cliquez sur 'Détail du compte'.


<br>
<br>
<h3>Comment modifier une saisie précédente ?</h3>
A partir de la page d'accueil, cliquez sur 'Modifier le détail'.<br>
Faites très attention à respecter le format attendu pour une saisie lorsque vous modifiez le détail du compte. Le détail est utilisé pour calculer le compte total qui est mis à jour après la modification.


<br>
<br>
<h3>Comment créer les graphiques ?</h3>
A partir de la page d'accueil, cliquez sur 'Mettre à jour les graphiques'.
Vous pouvez ensuite voir les graphiques en cliquant sur 'Les graphiques'.


<br>
<br>
<h3>Quel format pour le 'compte détail' ?</h3>
Voici à quoi doit ressembler le compte détail (2 saisies effectuées) : <br>
                --------------------------------- <br>
                --------------------------------- <br>
                Details : <br>
                --------------------------------- <br>
                debut 28/01/14 <br>
                Statue de Zeus, leo, niv 3<br> 
                leo : 0 <br>
                kate : 10 <br>
                --------------------------------- <br>
                debut 27/01/14 <br>
                Statue de Zeus, kate, niv 3 <br>
                leo : 10 <br>
                kate : 0 <br>
                --------------------------------- <br>
                --------------------------------- <br>


<br>
<br>
<h3>Sauvegarde de vos anciennes saisies ?</h3>
Si vous voulez revenir à une version antérieure de vos saisies envoyez un mail à gogm.foe@gmail.com précisant le nom de votre CoGM et la date (jour+heure) à laquelle vous voulez revenir. 
Nous vous enverrons un fichier comptenant le détail de votre compte. Vous devrez alors copier-coller le contenu de ce fichier dans le formulaire accessible depuis la page 'Modifier le détail'.



            </p>
		</article>
		
        <br><br><br><br>
		<article class="articlecontent" id="exempleDeRegles">
			<header>
				<h2>Exemple de règles :</h2>
			</header>
            <p>
      
      
      
      <h3>Règles : </h3>
Tous les membres de la CoGM dépensent X pf par jour sur un même GM jusqu'à ce qu'il passe au niveau suivant.

X est choisi typiquement entre 3 et 10.

On change alors de GM et tous les membres continuent à dépenser X pf par jour sur le nouveau GM.<br>

Le manager de la CoGM tient un compte des pf dépensés et reçus via ce site.

Ce compte permet de définir un solde pour chaque joueur : la différence entre les pf dépensé et les pf reçus.

A chaque changement de GM, le nouveau GM est choisi chez le membre ayant le plus grand solde.<br><br>


<h3> Décompte des pf :</h3>
Quand on change de GM (normalement quand le GM change de niveau), on compte le nombre de jours passés par la CoGM sur ce GM.
On multiplie ce nombre par X pour obtenir le nombre normal de pf qu'un membre doit avoir dépensé sur le GM.<br>
Le manager effectue alors une saisies des pf dépensés et reçus en sachant que :<br>

1) un membre peut dépenser plus de X pf par jour, mais les points supplémentaires ne sont pas comptabilisés. Comme cela on limite la collaboration à X pf par jour.<br>

2) un membre peut dépenser moins de X pf par jour, mais son compte progresse moins vite et la CoGM choisit moins souvent un de ses GM. Néanmoins, dépenser moins de X pf par jour est mal vu par la CoGM.<br>

3) lorsque qu'un membre obtient une récompense en pf au passage de niveau, elle est déduite des pf qu'il a investi dans le GM.
      
      
<h3>Astuces : </h3>

  1) Le manager peut indiquer sur son profil foe quel GM est en cours d'augmentation. Les autres membres peuvent alors s'y référer pour savoir où dépenser les X pf quotidients. <br>
2) A chaque saisie, le manager peut envoyer un message aux membres de la CoGM afin de les informer de la dernière saisie et de leur indiquer le prochain GM sur lequel mettre les pf.
    				

            </p>
		</article>
    
    

    </div>
{% endblock %}






