



		<aside>
			<section>
				<header>
					<h3>Liens :</h3>
				</header>
				<ul>
					<li>Lien vers le détail du compte :  <a class="linkColor" href="/CoGM/compte_pf_detail/"> ici</a></li>
					<li>Lien vers le total du compte :  <a class="linkColor" href="/CoGM/compte_pf_total/">ici</a></li>
					<li>Lien vers les graphiques <a class="linkColor" href="/CoGM/graphiques/"> ici </a></li>
				</ul>
			</section>
			
			
		
			
			<!--<section>-->
			<!--	<header>-->
			<!--		<h3>Sponsors</h3>-->
			<!--	</header>-->
			<!--		<img src="images/ad125.jpg" alt="ad" /> <img src="images/ad125.jpg" alt="ad" />-->
			<!--		<br />-->
			<!--		<img src="images/ad125.jpg" alt="ad" /> <img src="images/ad125.jpg" alt="ad" />-->
			<!--		<br /><br />-->
			<!--</section>-->
			
			<!--<section>-->
			<!--	<header>-->
			<!--		<h3>Connect With Us</h3>-->
			<!--	</header>-->
			<!--	<ul>-->
			<!--		<li><a href="#">Twitter</a></li>-->
			<!--		<li><a href="#">Facebook</a></li>-->
			<!--		<li><a href="#">Google Buzz</a></li>-->
			<!--	</ul>-->
			<!--</section>-->

			<!--<section>-->
			<!--	<header>-->
			<!--		<h3>Recent Articles</h3>-->
			<!--	</header>-->
			<!--		<ul>-->
			<!--			<li><a href="#">Perfect Espresso Every Time</a></li>-->
			<!--			<li><a href="#">Got Milk?</a></li>-->
			<!--		</ul>-->
			<!--</section>-->
			
		</aside>