<!DOCTYPE html>
<html>



<head>
    {% load static %}
    <title>CoGM</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <script type="text/javascript" src="{% static 'jquery.zclip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/equalcolumns.js' %}"></script> 
    <script type="text/javascript" src="{% static 'jsFunction.js' %}"></script>
</head>






<body>

	<header id="header">
		<h1>CoGM</h1>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="/CoGM">Home</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</nav>
	
	<section id="intro">
		<header>
			<h2>Développement collaboratif des Grands Monuments</h2>
		</header>
		<p>La CoGM organise un développement collaboratif des Grands Monuments (GM) de la guilde Brisgard Trade Union (BTU).</p>
		<img src="{% static 'foe.PNG' %}"  alt="lime" />
	</section>

    <!--<div id="header">-->
    <!--    <img id="logo" src="{% static 'foe.PNG' %}"  />-->
    <!--    <p style="font-size:40px;padding-left:300px;">-->
    <!--        Le site de la CoGM !-->
    <!--    <p>-->
    <!--</div>-->




    <section id="content" >
        {% block content %}{% endblock %}
    </section>






	<footer>
    <section>
    <!--<h3>Left Stuff</h3>-->
    <!--<p>Left aligned text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>-->
    <!--<p>Next line here</p>-->
    </section>
    
    <section>
    <!--<h3>Center Stuff</h3>-->
    <!--<p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>-->
    <!--<p>Next line here</p>-->
    </section>
    
    <section>
    <h3>Stuff</h3>
    <p>&copy; 2013 <a href="/CoGM" title="your site name">ajavewebsite.com</a> All rights reserved.</p>
    <p> Vers l'infini et au delà ! </p>
    </section>

	</footer>


</body>



</html>
