{% load google_analytics %}

<!DOCTYPE html>
<html>



<head>
    {% load static %}
    <title>CoGM</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <script type="text/javascript" src="{% static 'js/jquery.zclip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/equalcolumns.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/jsFunction.js' %}"></script>

    {% google_analytics %}
</head>








<body>

	<header id="header" onmouseover="this.style.cursor='pointer';">
		<h1>CoGM</h1>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="/CoGM">Accueil</a></li>
			<li><a href="/CoGM/about">Guide/FAQ</a></li>
			<li><a href="/CoGM/voir_cogm">Voir CoGM</a></li>
			<li><a href="/CoGM/create_user">Créer CoGM</a></li>
			<li><a href="/CoGM/login">Connexion</a></li>
			<li><a href="/CoGM/logout">Déconnexion</a></li>
		</ul>
	</nav>
	
	<section id="intro">
		<header>
			<h2>Développement collaboratif des Grands Monuments</h2>
		</header>
		<!--<p>La CoGM organise un développement collaboratif des Grands Monuments (GM) de la guilde Brisgard Trade Union (BTU).</p>-->
		<!--<p>La CoGM organise un développement collaboratif des Grands Monuments. -->
		<p>
		    Ce site permet de tenir un compte des points de forge dépensés et reçus par les membres de la collaboration afin de rendre l'échange équitable.
		</p>
		
    	{% if request.user.is_authenticated %}		
		    <section id="conn">
    		    <br>
    	        <p> Vous managez la CoGM : {{request.user.username}}</p>
    	   	</section>
	    {% elif request.session.user_id %}
		    <section id="conn">
    		    <br>
    	        <p> Vous regardez la CoGM : {{request.session.user_name}}</p>
    	   	</section>
	    {% endif%}
		
		
		<img src="{% static 'images/logo_forge_of_empires.jpg' %}"  alt="lime"  />
		<!--<img src="{% static 'images/nSp_spInstant.png' %}"  alt="lime"  />-->
		<!--<img src="{% static 'images/logo_siteCoGM.jpg' %}"  alt="lime"  />-->
	</section>





        {% block content %}{% endblock %}

        {% block aside %}{% endblock %}






	<footer>
        <section>
            <h3>Support utilisateur</h3>
            <p>
                Contactez l'aide par <a href="mailto:cogm.foe@gmail.com" title="cogm.foe@gmail.com">mail</a> en précisant le nom de votre CoGM.
                <!--Par exemple pour demander à restaurer une version antérieure de vos données.-->
            </p>
        </section>





        <section>
            <h3>Technical description</h3>
            <p>
                Site designed on  <a href="https://koding.com" title="koding">koding</a>,
                using <a href="https://www.djangoproject.com/" title="django">Django</a>
                and css coffeecols templates from <a href="http://freehtml5templates.com/" title="freehtml5templates">freehtml5templates</a>.
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Site hosted by <a href="https://www.heroku.com/" title="heroku">heroku</a> and <a href="http://aws.amazon.com/fr/s3/" title="Amazon S3">S3</a>.
            </p>
        </section>
    
    
        <section>
            <h3>Stuff</h3>
            <p>
            Clone this site from the <a href="https://github.com/adrienrenaud/siteCoGM.git" title="GitHub">GitHub code</a>.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &copy; 2013 <a href="/CoGM" title="ajavewebsite">ajavewebsite.com</a> All rights reserved. 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Vers l'infini et au delà ! 
            </p>
        </section>



	</footer>


</body>



</html>
