{% load google_analytics %}

<!DOCTYPE html>
<html>



<head>
    {% load static %}
    <title>CoGM</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <script type="text/javascript" src="{% static 'jquery.zclip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/equalcolumns.js' %}"></script> 
    <script type="text/javascript" src="{% static 'jsFunction.js' %}"></script>
    {% google_analytics %}
</head>






<body>

	<header id="header">
		<h1>CoGM</h1>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="/CoGM">Home</a></li>
			<li><a href="/CoGM/about">About</a></li>
		</ul>
	</nav>
	
	<section id="intro">
		<header>
			<h2>Développement collaboratif des Grands Monuments</h2>
		</header>
		<p>La CoGM organise un développement collaboratif des Grands Monuments (GM) de la guilde Brisgard Trade Union (BTU).</p>
		<img src="{% static 'images/logo_forge_of_empires.jpg' %}"  alt="lime" />
	</section>





        {% block content %}{% endblock %}

        {% block aside %}{% endblock %}





	<footer>
    <section>
    <h3>Technical description</h3>
    <p>
        Site designed on  <a href="https://koding.com" title="koding">koding.com</a>.
        Using the <a href="https://www.djangoproject.com/" title="django">Django</a> framework,
        and css coffeecols templates from <a href="http://freehtml5templates.com/" title="freehtml5templates">freehtml5templates.com</a>.
        Site hosted by <a href="https://www.heroku.com/" title="heroku">heroku.com</a>.
        
    </p>
    <p>Next line here</p>
    </section>
    
    <section>
    <!--<h3>Center Stuff</h3>-->
    <!--<p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>-->
    <!--<p>Next line here</p>-->
    </section>
    
    <section>
    <h3>Stuff</h3>
    <p>&copy; 2013 <a href="/CoGM" title="ajavewebsite">ajavewebsite.com</a> All rights reserved.</p>
    <p> Vers l'infini et au delà ! </p>
    </section>

	</footer>


</body>



</html>
