{% extends "base.html" %}


{% block content %}

	<div id="innercontent">
		<article class="articlecontent">
			<header>
				<h2> Erreur dans le calcul du compte !</h2>
			</header>
            <p>
                Le site n'est pas parvenu à calculer le compte total à partir du compte détail que vous avez soumis.<br>
                Allez dans 'Modifier le détail' et essayez de repérer la source du problème. <br>
                Faites très attention à respecter le format attendu pour une saisie.<br>
                Voici à quoi doit ressembler le compte détail (2 saisies effectuées) : <br>
                <br>
                --------------------------------- <br>
                --------------------------------- <br>
                Details : <br>
                --------------------------------- <br>
                debut 28/01/14 <br>
                Statue de Zeus, leo, niv 3<br> 
                leo : 0 <br>
                kate : 10 <br>
                --------------------------------- <br>
                debut 27/01/14 <br>
                Statue de Zeus, kate, niv 3 <br>
                leo : 10 <br>
                kate : 0 <br>
                --------------------------------- <br>
                --------------------------------- <br>
            </p>
		</article>
		
        
    
    

    </div>
{% endblock %}






