



{% extends "base.html" %}


{% block content %}
    {% load static %}
	<div id="innercontent">
		<!--<article class="articlecontent">-->
		<!--	<header>-->
		<!--		<h2> Les graphiques :</h2>-->
		<!--	</header>-->
  <!--          <p>-->
  <!--              {% for graph in graphs %}-->
  <!--                  <div id="graphique" class="textBoxContent">-->
  <!--                      <img id="nGM" src="{{ MEDIA_URL }}userdata/user_{{user_id}}/{{graph.gname}}.png" width="600"  />-->
  <!--                      <br> {{ graph.gleg }} -->
  <!--                  </div>-->
  <!--              {% endfor%}-->
  <!--          </p>-->
		<!--</article>-->
		
        
		<article class="articlecontent">
			<header>
				<h2> Les graphiques :</h2>
			</header>
			<br>
			<br>
			<br>
            <!--<p>-->
                {% for graph in graphs %}
                    <div id="graphique" class="textBoxContent">
                        <!--{{ graph.name }} -->
                        <img id="nGM" src="{{graph.file.url}}" width="600"  />
                        <br>
                        <h3>{{ graph.legend }}</h3>
                        <!--<br>-->
                        <hr style="width:600px; color:black; background-color:black; height:2px; border-width:0;" /> 
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                {% endfor%}
            <!--</p>-->
		</article>
		
		
    </div>
{% endblock %}







{% block aside %}

    {% include 'aside.html' %}

{% endblock %}