



{% extends "base.html" %}


{% block content %}


    <div class="textBoxContent">
    Lien vers le détail du compte :  <a class="linkColor" href="/CoGM/compte_pf_detail/"> ici </a>
    </div>

    <div class="textBoxContent">
    Lien vers le total du compte :  <a class="linkColor" href="/CoGM/compte_pf_total/"> ici </a>
    </div>

    <div class="textBoxContent">
    Lien pour ajouter un GM dans le détail du compte, le compte total et le mail seront alors mis à jour automatiquement : 
    <a class="linkColor" href="/CoGM/ajout_GM/"> ici </a>
    </div>

    <div class="textBoxContent">
    Lien pour modifier directement le détail du compte, le compte total et le mail seront alors mis à jour automatiquement :  <a class="linkColor" href="/CoGM/modify_compte_detail/"> ici </a>
    </div>  
    
    <div class="textBoxContent">
    Lien vers le mail à envoyer <a class="linkColor" href="/CoGM/mail/"> ici </a>
    </div>
    
    <div class="textBoxContent">
    Lien pour mettre à jour les graphiques <a class="linkColor" href="/CoGM/mise_a_jour_graph/"> ici </a>
    </div>
    
    <div class="textBoxContent">
    Lien vers les graphiques <a class="linkColor" href="/CoGM/graphiques/"> ici </a>
    </div>

{% endblock %}







