



{% extends "base.html" %}


{% block content %}
	<div id="innercontent">
	
	
		<article class="articlecontent">
			<header>
				<h2> Mettre à jour les graphiques :</h2>
			</header>
            <p>
                <div class="textBoxContent">
                    {% if form.errors %}
                        <p style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
                        </p>
                    {% endif %}
                
                    <form action="" method="post" onsubmit="document.style.cursor='wait'">
                        <table>
                            {{ form.as_table }}
                        </table>
                        {% csrf_token %}
                        <input type="submit" value="Soumettre">
                    </form> 
                </div>
            </p>
		</article>
	
	
	
	
    </div>
    
{% endblock %}




{% block aside %}

    {% include 'aside.html' %}

{% endblock %}


