



{% extends "base.html" %}


{% block content %}



    <div class="textBoxContent">
        Modifier le detail :
    </div>

{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}


    <div class="textBoxContent">

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form> 

    </div>

{% endblock %}







