



{% extends "base.html" %}


{% block content %}

	<div id="innercontent">

		<article class="articlecontent">
			<header>
				<h2> Modifier le remplissage par defaut :</h2>
			</header>
			<p> Vous pouvez modifier le remplissage par défaut qui vous est proposé lorsque vous ajoutez un GM. 
			    Indiquez le nom des membres de votre CoGM suivi de ':' et de '0'. 
			    <br>
			    <br> 
		        Exemple : <br><br> 
                kate : 0<br>
                leo : 0<br>
			</p>
			    
            <p>
                {% if form.errors %}
                        <p style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
                        </p>
                    {% endif %}
                
                
                <div class="textBoxContent">
                
                    <form action="" method="post">
                        <table>
                            {{ form.as_table }}
                        </table>
                        {% csrf_token %}
                        <br>
                        <input type="submit" value="Soumettre">
                    </form> 
            
                </div>
            </p>
		</article>

    </div>

{% endblock %}




{% block aside %}

    {% include 'aside.html' %}

{% endblock %}


