



{% extends "base.html" %}


{% block content %}

	<div id="innercontent">

		<article class="articlecontent">
			<header>
				<h2> Modifier le detail :</h2>
			</header>
            <p>
                {% if form.errors %}
                        <p style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
                        </p>
                    {% endif %}
                
                
                <div class="textBoxContent">
                
                    <form action="" method="post">
                        <table>
                            {{ form.as_table }}
                        </table>
                        {% csrf_token %}
                        <br>
                        <input type="submit" value="Soumettre">
                    </form> 
            
                </div>
            </p>
		</article>

    </div>

{% endblock %}




{% block aside %}

    {% include 'aside.html' %}

{% endblock %}


